@page "/products"
@inherits ReactiveInjectableComponentBase<ProductsListViewModel>

<h1>Products</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (ViewModel.Products is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ProductName</th>
            <th>Quantity / Unit</th>
            <th>Unit Price ($)</th>
            <th>Units In Stock</th>
            <th>Orders #</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in ViewModel.Products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.QuantityPerUnit</td>
                <td>$@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
                <td>@product.OrderDetails.Count()</td>
            </tr>
        }
        </tbody>
    </table>
}